body {
  background-color: rgb(220, 220, 220);
}
.todo-app {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0 auto;
  max-width: 600px;
}

.top-panel {
  margin: 1rem 0;
}

.btn-success {
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.btn-success.active {
  display: block;
}
.btn-success:active {
  transform: scale(0.98);
}
